


<p>xeBo is a personal finance web service. </br>

 You can keep a track of the amount you owe to your friends</br>
 and the amount that your firends owe you at xeBo. xeBo is designed usign Google Appengine.</p>


 <%= link_to 'Go', :controller=>"xebos",:action=>"index" %>